.box{
    color:#5c5a5a;
    /*changes*/
    position: absolute;
    
    
}
 ul{
      padding: 20px;
      /*changes*/
    height:240px;
    width: 300px;
    overflow-y:scroll;
   
   
}


.example-card {
    margin-bottom: 20px;
    border-radius: 5px;
    padding:5px !important;
    border: 5px inset  ;
}

.row{
     margin-left: 0px !important;
     margin-right: 0px !important;
     /*border-bottom: 1px solid #c5c5c5;*/
}
.dis p{
    word-break:break-all;
}
.badge1 {
    font-weight: bold;
}
.cardHeading{

    
    font-weight: bold;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;

  

}