
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<gridStack class="backdrop" w="12" animate="true" cellHeight="auto" staticGrid=true>
  <div class="grid-stack-item" data-gs-x="9" data-gs-y="0" data-gs-width="4" data-gs-height="4">
    <div class="grid-stack-item-content scrollbar" id="style-2">
      <app-most-connected></app-most-connected>
    </div>
  </div>
  <div class="grid-stack-item" data-gs-x="9" data-gs-y="0" data-gs-width="4" data-gs-height="4">
    <div class="grid-stack-item-content scrollbar" id="style-2">
      <app-trending></app-trending>
    </div>
  </div>
  <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="8" data-gs-height="8">
    <div class="grid-stack-item-content scrollbar" id="style-2" infiniteScroll (scrolled)="onScroll()" [scrollWindow]="false">
      <div align="center">
        <form class="thoughtForm">
          <div class="input-group input-group-sm" *ngIf="flagForPost">
            <input (keyup)="onThoughtKeyUp($event)" [(ngModel)]="thought" name="thought" type="text" class="form-control thought" placeholder="Jot down your thoughts...">
            <span class="input-group-btn">
              <button (click)="shareThought()" class="btn thought" type="button">
                <i class="fa fa-paper-plane share-icon"></i>
              </button>
              <select class="postAndPollSelect" (change)="selectChangeHandler($event)">
                <option value="post">{{selected}}</option>
                <!--if post is selected-->
                <option value="poll">poll</option>

              </select>
            </span>
          </div>

          <div *ngIf="flagForPoll">

            <div class="input-group input-group-sm">
              <input (keyup)="onPollKeyUp($event)" [(ngModel)]="pollQuestion" name="pollQuestion" type="text" class="form-control thought"
                placeholder="Jot down the poll here">
              <span class="input-group-btn">
                <button (click)="sharePoll(inp1.value)" class="btn thought" type="button" >
                  <i class="fa fa-paper-plane share-icon"></i>
                </button>
                <select class="postAndPollSelect" (change)="selectChangeHandler($event)">
                  <option value="poll">{{selected}}</option>
                  <!--if poll is selected-->
                  <option value="post">post</option>
                </select>
              </span>
            </div>
            <div align="left">
              <form>
                <div>
                  <mat-form-field>
                    <input #inp1 (keyup)="onOption1KeyUp($event)" type="text" class=" form-control thought optionsClass " matInput placeholder="option 1">
                    <i class="fa fa-plus-square" (click)="addBtnClicked()"></i>
                   <!-- <mat-slide-toggle class="multipleChoicePoll" (click)="setMultipleChoicePoll()" [(ngModel)]="checkedBool" Multiple choice></mat-slide-toggle>-->
                  </mat-form-field>
                 <mat-checkbox class="multipleChoicePoll" (click)="setMultipleChoicePoll()" (click)="checkedBool" name="something">Multiple choice </mat-checkbox>
                  <br>
                </div>
                <div *ngIf="o1">
                  <!--if o1 is false then the input field will not be available-->
                  <mat-form-field>
                    <input #inp1 (keyup)="onOption2KeyUp($event)" type="text" class="form-control thought optionsClass" matInput placeholder="option 2">
                    <i class="fa fa-minus-square" (click)="minusBtnClicked()"></i>
                  </mat-form-field>
                  <br>
                </div>
                <div *ngIf="o2">
                  <!--if o2 is false then the input field will not be available-->
                  <mat-form-field>

                    <input #inp1 (keyup)="onOption3KeyUp($event)" type="text" class=" form-control thought optionsClass " matInput placeholder="option 3">
                    <i class="fa fa-minus-square" (click)="minusBtnClicked()"></i>
                  </mat-form-field>
                  <br>
                </div>
                <div *ngIf="o3">
                  <!--if o3 is false then the input field will not be available-->
                  <mat-form-field>
                    <input #inp1 (keyup)="onOption4KeyUp($event)" type="text" class="form-control thought optionsClass" matInput placeholder="option 4">
                    <i class="fa fa-minus-square" (click)="minusBtnClicked()"></i>
                  </mat-form-field>
                </div>
              </form>
            </div>
          </div>

        </form>
        <div *ngIf="pollShareFlag">
          <div *ngFor="let o of optionsToShare;let i=index">
            <mat-card class="example-card ">
              <!--mat-elevation-z0-->
              <mat-card-content class="topCard">
                {{i+1}} {{o}}
                <br>
                <div *ngIf="!checkedBool">

                  <mat-radio-group>
                    <!--*ngIf is used if contains value then print the radio button -->
                    <mat-radio-button #opt1 *ngIf="arrayOptionAll[(i*4)+0]"  value="1">{{arrayOptionAll[(i*4)+0]}}</mat-radio-button>
                    <br>
                    <mat-radio-button #opt2 *ngIf="arrayOptionAll[(i*4)+1]" value="2">{{arrayOptionAll[(i*4)+1]}}</mat-radio-button>
                    <br>
                    <mat-radio-button #opt3 *ngIf="arrayOptionAll[(i*4)+2]" value="3">{{arrayOptionAll[(i*4)+2]}}</mat-radio-button>
                    <br>
                    <mat-radio-button #opt4 *ngIf="arrayOptionAll[(i*4)+3]" value="4">{{arrayOptionAll[(i*4)+3]}} </mat-radio-button>
                  </mat-radio-group>
                </div>


                <div *ngIf="checkedBool" >
                  
                    <!--*ngIf is used if contains value then print the radio button -->
                    <input  #opt1 type="checkbox"  name="option" value="{{arrayOptionAll[(i*4)+0]}}"  *ngIf="arrayOptionAll[(i*4)+0]">{{arrayOptionAll[(i*4)+0]}}
                    <br>
                    <input  #opt2 type="checkbox"  name="option" value="{{arrayOptionAll[(i*4)+1]}}"  *ngIf="arrayOptionAll[(i*4)+1]" >{{arrayOptionAll[(i*4)+1]}}
                    <br>
                    <input  #opt3 type="checkbox"  name="option" value="{{arrayOptionAll[(i*4)+2]}}"  *ngIf="arrayOptionAll[(i*4)+2]" >{{arrayOptionAll[(i*4)+2]}}
                    <br>
                    <input  #opt4 type="checkbox"  name="option" value="{{arrayOptionAll[(i*4)+3]}}"  *ngIf="arrayOptionAll[(i*4)+3]" >{{arrayOptionAll[(i*4)+3]}}
              </div>
              <button class="pollOptions">submit</button>
              </mat-card-content>
              <mat-card-header class="bottomCard">
                <figure id="profileTab">
                  <img alt="User Name" class="img-circle" src="assets/images/profile/profile.jpg">
                  <span>Poll posted by John Doe</span>
                </figure>
              </mat-card-header>
            </mat-card>
          </div>
        </div>

        <div *ngFor="let t of thoughtToShare.reverse();let i=index">
          <mat-card class="example-card ">
            <!--mat-elevation-z0-->
            <mat-card-content class="topCard">
              <p>{{t}}</p>
            </mat-card-content>
            <mat-card-header class="bottomCard">
              <figure id="profileTab">
                <img alt="User Name" class="img-circle" src="assets/images/profile/profile.jpg">
                <span>Posted by John Doe</span>
              </figure>
            </mat-card-header>
          </mat-card>
        </div>

        <div *ngFor="let t of itemsToShow; let i = index">
          <mat-card class="example-card">
            <!--mat-elevation-z0-->
            <mat-card-content class="topCard">
              <p>{{i+1}} {{t.desc}}</p>
            </mat-card-content>
            <mat-card-header class="bottomCard">
              <figure id="profileTab">
                <img alt="User Name" class="img-circle" src="assets/images/profile/profile.jpg">
                <span>Posted by {{t.name}}</span>
              </figure>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</gridStack>