.example-card {
    margin-bottom: 20px;
    border-radius: 5px;
   
    
}
.example-card p {
    text-align: left;
}
.pollOptions{
    font-style:italic;
    
}
.thoughtForm {
    margin-bottom: 30px;
}

.share-icon {
    font-size: 15px !important;
}

.thought {
    font-size: 14px;
    height: 50px !important;
    margin-bottom: 5px;
   
}
.postAndPollSelect{
    height: 50px ;
    background-color:buttonface;
    border: none;
   
}
.optionsClass{
    max-height:25px !important
}
.fa-plus-square{
    position: absolute;
    left:180px;
    top:8px;
    font-size:20px;
    color: #5c5a5a;
}
.fa-minus-square{
    position: absolute;
    left:180px;
    top:8px;
    font-size:20px;
    color: #5c5a5a;
}
.example-header-image {
    background-image: url('http://www.iconhot.com/icon/png/glossy/512/user-male-3.png');
    background-size: cover;
}

#profileTab {
    display: inline-flex;
    line-height: 36px;
}

#profileTab span {
    font-size: 14px;
    color: #5c5a5a;
    padding: 0px 0px 0px 10px;
}

.optionsClass{
max-height: 15px;
}

#profileTab span:hover {
    color: #5c5a5a;
}

#profileTab img {
    height: 36px;
}

.bottomCard {
    margin-bottom: -10px !important;
}

.topCard {
    margin-top: -10px !important;
}


/*https://material.angular.io/assets/img/examples/shiba1.jpg*/