<gridStack class="backdrop" w="12" animate="true" cellHeight="auto" staticGrid=true>
  <div class="grid-stack-item" data-gs-x="9" data-gs-y="0" data-gs-width="4" data-gs-height="4">
    <div class="grid-stack-item-content scrollbar" id="style-2">
      <app-most-connected></app-most-connected>
    </div>
  </div>
  <div class="grid-stack-item" data-gs-x="9" data-gs-y="0" data-gs-width="4" data-gs-height="4">
    <div class="grid-stack-item-content scrollbar" id="style-2">
      <app-trending></app-trending>
    </div>
  </div>
  <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="8" data-gs-height="8">
    <div class="grid-stack-item-content scrollbar" id="style-2" infiniteScroll (scrolled)="onScroll()" [scrollWindow]="false">
      <div align="center">
        <form class="thoughtForm">
          <div class="input-group input-group-sm">
            <input (keyup)="onThoughtKeyUp($event)" [(ngModel)]="thought" name="thought" type="text" class="form-control thought" placeholder="Jot down your thoughts...">
            <span class="input-group-btn">
              <button (click)="shareThought()" class="btn thought" type="button">
                <i class="fa fa-paper-plane share-icon"></i>
              </button>
            </span>
          </div>
        </form>
        <div *ngFor="let t of thoughtToShare.reverse();let i=index">
          <mat-card class="example-card mat-elevation-z0">
            <mat-card-content class="topCard">
              <p>{{t}}</p>
            </mat-card-content>
            <mat-card-header class="bottomCard">
              <figure id="profileTab">
                <img alt="User Name" class="img-circle" src="assets/images/profile/profile.jpg">
                <span>Posted by John Doe</span>
              </figure>
            </mat-card-header>
          </mat-card>
        </div>

        <div *ngFor="let t of itemsToShow; let i = index">
          <mat-card class="example-card mat-elevation-z0">
            <mat-card-content class="topCard">
              <p>{{i+1}} {{dataContent[i]}}</p>
            </mat-card-content>
            <mat-card-header class="bottomCard">
              <figure id="profileTab">
                <img alt="User Name" class="img-circle" src="assets/images/profile/profile.jpg">
                <span>Posted by {{t.name}}</span>
              </figure>
            </mat-card-header>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</gridStack>