@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~gridstack/dist/gridstack.min.css";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.mat-content {
    display: block !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.mat-content a {
    text-decoration: none !important;
    color: white;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: transparent !important;
}

.mat-expansion-panel {
    background: transparent;
    box-shadow: transparent !important;
}

.mat-expansion-panel-header {
    padding: 0 10px !important;
}

.mat-expansion-panel-body {
    padding: 0px !important;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.mat-card-header-text {
    margin: 0px !important;
}
.grid-stack-item-content, .grid-stack-item .placeholder-content {
    background-color: #fff;
}
 .grid-stack-item-content, .grid-stack-item .placeholder-content {
    position: absolute;
    padding: 10px !important;
    width: auto;
    overflow: hidden;
}
.backdrop{
    background: #f4f3f3 !important;
}
.grid-stack-item-content{
    border: 1px solid #bbbbbb !important;
    border-radius: 3px !important;
    background: #fff !important;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}

#style-2::-webkit-scrollbar
{
	width: 5px;
	background-color: #fff;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bbbbbb4d;
}
.scrollbar
{
	margin-left: 30px;
	float: left;
	background: #fff;
	margin-bottom: 25px;
}
.scrollbar {overflow-y:hidden !important;}
.scrollbar:hover {overflow-y:scroll !important;}